<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Management System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <script type="text/babel" src="{% static 'js/pomodoro.js' %}"></script>
    <script type="text/babel" src="{% static 'js/calendar.js' %}"></script>
    <script type="text/babel" src="{% static 'js/focusMusic.js' %}"></script>
    <script type="text/babel" src="{% static 'js/dailyStreak.js' %}"></script>
    <script type="text/babel" src="{% static 'js/googleSearch.js' %}"></script>
    <script type="text/babel">
        const App = () => (
            <div>
                <h1>Task Management System</h1>
                <Pomodoro />
                <Calendar />
                <FocusMusic />
                <DailyStreak />
                <GoogleSearch />
            </div>
        );

        ReactDOM.render(<App />, document.getElementById('root'));
    </script>
</body>
</html>
